/** CSS for the Mobile Portfolio. Cancels out the other portfolio. **/

@media all and (max-width: 780px) {
    
    .container {
       display: none;
        }
    
    .mobile-container {
        display: block;
    }
    
    .mobile-container h2, .mobile-container h3, .mobile-container p {
        text-align: center;
    }
    .mobile-container img {
        width: 50%;
    }